[Unit]
Description=Graceful exit watcher
AllowIsolate=true
StopWhenUnneeded=true
DefaultDependencies=false

[Service]
ExecStart=/usr/bin/sleep 9999999999d
ExecStopPost=/usr/bin/systemctl isolate reaper.service
